@use '@angular/material' as mat;

/* Light Theme */
html.theme-light {
  color-scheme: light;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      theme-type: light
    ),
    typography: Roboto,
    density: 0
  ));
}

/* Dark Theme */
html.theme-dark {
  color-scheme: dark;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      theme-type: dark
    ),
    typography: Roboto,
    density: 0
  ));
}

/* Optional: App-Hintergrund passend */
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
}
