@use '@angular/material' as mat;

/* Light Theme */
html.theme-light {
  color-scheme: light;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      theme-type: light
    ),
    typography: Roboto,
    density: 0
  ));
}

/* Dark Theme */
html.theme-dark {
  color-scheme: dark;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      theme-type: dark
    ),
    typography: Roboto,
    density: 0
  ));
}

/* Optional: App-Hintergrund passend */
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
}



/*@include mat.core();

$my-primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$my-theme: mat.m2-define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
  typography: mat.m2-define-typography-config(),
  density:0,
));

$my-theme-dark: mat.m2-define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density:0,
));



.theme-dark {
  @include mat.all-component-themes($my-theme-dark)
}

.theme-light {
  @include mat.all-component-themes($my-theme)

}*/

